*{
	margin: 0;
} 
body::-webkit-scrollbar{
	width: 10px;
}
body::-webkit-scrollbar-thumb{
	background: #000;
	border-radius: 4px;
}
.navegacion{
	display: flex;
	justify-content: flex-start;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	transition: 0.7s;
	height: 70px;
	z-index: 1000;
}
.navegacion .contenedor-opt{
	display: flex;
	justify-content: space-around;
	list-style: none;
	width: 94%;
	align-items: center;
}
.navegacion .contenedor-opt li a{
	text-decoration: none;
	font-size: 1.1em;
}
.abajo{
	padding-top: 3px;
	padding-bottom: 3px;
	background: #001b4e;
}
.letracolor{
	color: #fff;
}
.navegacion .contenedor-opt li{
	padding: 10px;
}
.navegacion .enlace-logo{
	width: 6%;
	height: 70px;
	margin-left: 2%;
}
.navegacion .enlace-logo .contenedor-img,
.navegacion .enlace-logo .contenedor-img img{
	width: 100%;
	height: 100%;
}
.fondoon{
	background: #fff;
	transition: all 0.5s ease 0s;
	border-radius: 10px;
}
.fondooff{
	background: #001b4e;
	transition: all 0.5s ease 0s;
	border-radius: 10px;
}
.letraon{
	color: #001b4e;
	transition: all 0.5s ease 0s;
	border-radius: 10px;
}
.letraoff{
	color: #fff;
	transition: all 0.5s ease 0s;
	border-radius: 10px;
}
#titulo{
	margin-top: 100px;
	text-align: center;
	font-family: algerian;
}
#nav-interno{
	margin: auto;
	display: flex;
}
#nav-interno div a{
	text-decoration: none;
}
#nav-interno div{
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 10px;
	border: inset 1.8px black;
	margin: 20px 0px;
}
#nav-interno div:hover{
	background: #003399;
}
#nav-interno div:hover a{
	color: white;
}
#modalidades h1,#reglamentos h1{
	font-size: 180%;
	text-align: center;
	background: #001b4e;
	color: white;
	padding: 15px 0px;
}
.contenedor-modalidad{
	display: flex;
	padding-left: 40px;
	padding-right: 40px;
}
.contenedor-modalidad p{
	padding-right: 50px;
}
.contenedor-modalidad h2{
	margin-bottom: 10px;
}
.contenedor-modalidad p{
	margin: 20px 0px;
	font-family: arial;
}
.division-modalidad{
	margin: 25px 10px;
	width: 75%;
}
.img-modalidad{
	width: 25%;
	margin: 25px;
}
.contenedor-capitulos{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: "division-1 division-2";
}
.division-capitulos{
	margin: 20px;
	border: inset 2px black;
	border-radius: 10px;
}
.division-capitulos h2,.division-capitulos h3{
	text-align: center;
	margin-bottom: 10px;
	color: #040431;
}
.division-capitulos p,.division-capitulos h4{
	margin: 15px;
}
#ver-archivo{
	width: 20%;
	margin: auto;
	text-align: center;
	padding: 10px;
	background: #040431;
	margin-top: 20px;
	margin-bottom: 20px;
}
#ver-archivo a{
	text-decoration: none;
	color: white;
}
footer .datos{
	display: flex;
	margin-top: 20px;
}
footer .datos .contacto,
footer .datos .contenedor-ubicacion{
	width: 50%;
}
footer .datos .contacto ul,
footer .datos .contenedor-ubicacion .ubicacion ul{
	width: 60%;
	margin-left: auto;
	font-size: 1.2em;
	margin-right: auto;
}
footer .datos .contacto .contacto-subtitulo,
footer .datos .contenedor-ubicacion .ubicacion-subtitulo{
	text-align: center;
	background: #040431;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	width: 70%;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
}
footer .datos .contenedor-ubicacion .logo{
	display: flex;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 20px;
}
footer .datos .contenedor-ubicacion .logo h3{
	font-size: 1.8em;
	margin-left: 10px;
	font-family: algerian;
	text-align: center;
}
footer .datos .contenedor-ubicacion .logo img{
	height: 100px;
	width: 100px;
}
footer .copy{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .copy div{
	margin-left: 10px;
}
footer .copy div img{
	height: 30px;
	width: 30px;
}